@model WebManagementSystem.ViewModels.TarefaViewModel

<h3>
    Cadastro de Tarefa
</h3>

<form asp-action="CadastrarTarefa" asp-antiforgery="true" method="post">
    <div class="form-group">
        <label asp-for="Messagem"></label>
        <input asp-for="Messagem" class="form-control" placeholder="Descrição" placeholder="Informe o Descrição" />
    </div>

    <div class="form-group">
        <label asp-for="DataLimiteExecucao"></label>
        <input asp-for="DataLimiteExecucao" class="form-control" placeholder="Informe o Data Limite" />
    </div>

    <div class="form-group">
        <label asp-for="GestorId"></label>
        <input asp-for="GestorId" class="form-control" placeholder="Informe o ID do Gestor" />
    </div>

    <div class="form-group">
        <label asp-for="UsuarioId"></label>
        <input asp-for="UsuarioId" class="form-control" placeholder="Informe o ID do Usuário" />
    </div>

    </br>

    <div>
        <input type="submit" value="Cadastrar" class="btn btn-primary" />
    </div>
</form>